*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Custom properties */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-grey: lightgrey;
    --clr-accent: #16e0bd;
    --clr-danger: tomato;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25), 0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 900px) {
     :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}


/* General Styles */

html {
    min-height: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%) no-repeat;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold)
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}


/* buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 0200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}


/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
    font-family: var(--ff-primary);
}

h1 {
    font-size: var(--fs-h1)
}

h2 {
    font-size: var(--fs-h2)
}

h3 {
    font-size: var(--fs-h3)
}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}


/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    z-index: 12;
    max-width: 150px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}


/* site title */

.title h1 {
    margin: 1em auto;
    text-align: center;
    color: var(--clr-light);
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, .2);
    display: block;
    position: relative;
    z-index: 3;
}


/* background */

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1236px 35px #FFF, 862px 896px #FFF, 170px 1012px #FFF, 201px 1412px #FFF, 175px 498px #FFF, 870px 1017px #FFF, 1636px 1404px #FFF, 1393px 75px #FFF, 1002px 494px #FFF, 1761px 1254px #FFF, 682px 1036px #FFF, 33px 1768px #FFF, 838px 1619px #FFF, 312px 592px #FFF, 1357px 1281px #FFF, 518px 359px #FFF, 735px 1609px #FFF, 1562px 1036px #FFF, 687px 423px #FFF, 1825px 1707px #FFF, 1149px 1298px #FFF, 1296px 311px #FFF, 300px 1203px #FFF, 1423px 1057px #FFF, 1207px 56px #FFF, 236px 388px #FFF, 913px 773px #FFF, 263px 1924px #FFF, 1637px 1925px #FFF, 998px 1610px #FFF, 1306px 658px #FFF, 1257px 1782px #FFF, 1383px 322px #FFF, 39px 1834px #FFF, 1192px 70px #FFF, 356px 1701px #FFF, 1979px 1265px #FFF, 88px 1858px #FFF, 1884px 201px #FFF, 1165px 186px #FFF, 325px 1878px #FFF, 256px 32px #FFF, 561px 1326px #FFF, 585px 596px #FFF, 144px 495px #FFF, 969px 1852px #FFF, 627px 289px #FFF, 329px 1019px #FFF, 775px 7px #FFF, 363px 452px #FFF, 51px 790px #FFF, 1497px 1522px #FFF, 384px 697px #FFF, 1875px 860px #FFF, 250px 1201px #FFF, 1541px 461px #FFF, 1781px 457px #FFF, 165px 220px #FFF, 1640px 1834px #FFF, 878px 587px #FFF, 818px 1785px #FFF, 381px 1262px #FFF, 1154px 457px #FFF, 400px 1004px #FFF, 1932px 1757px #FFF, 57px 1299px #FFF, 1265px 508px #FFF, 1226px 1481px #FFF, 1119px 845px #FFF, 1520px 1246px #FFF, 1136px 1010px #FFF, 1136px 1392px #FFF, 1834px 226px #FFF, 553px 696px #FFF, 831px 1317px #FFF, 628px 134px #FFF, 254px 576px #FFF, 1753px 1483px #FFF, 238px 1777px #FFF, 1076px 1px #FFF, 472px 120px #FFF, 151px 1420px #FFF, 817px 1025px #FFF, 1148px 1388px #FFF, 1563px 1261px #FFF, 579px 341px #FFF, 575px 1035px #FFF, 120px 2px #FFF, 228px 672px #FFF, 708px 152px #FFF, 1356px 275px #FFF, 166px 994px #FFF, 1535px 1970px #FFF, 1808px 809px #FFF, 700px 1158px #FFF, 1023px 1225px #FFF, 1695px 968px #FFF, 1631px 48px #FFF, 1066px 379px #FFF, 867px 163px #FFF, 314px 929px #FFF, 1080px 1302px #FFF, 1706px 575px #FFF, 1467px 580px #FFF, 754px 1185px #FFF, 1865px 1701px #FFF, 857px 1288px #FFF, 991px 1289px #FFF, 700px 1445px #FFF, 1559px 1458px #FFF, 824px 787px #FFF, 1329px 1993px #FFF, 900px 815px #FFF, 1166px 1652px #FFF, 1797px 634px #FFF, 667px 1200px #FFF, 1519px 741px #FFF, 813px 1635px #FFF, 287px 1957px #FFF, 175px 1318px #FFF, 199px 1113px #FFF, 1094px 1374px #FFF, 1401px 1704px #FFF, 1120px 1011px #FFF, 1130px 257px #FFF, 541px 733px #FFF, 1320px 333px #FFF, 727px 166px #FFF, 1003px 379px #FFF, 102px 1432px #FFF, 1567px 1367px #FFF, 1851px 78px #FFF, 32px 972px #FFF, 520px 228px #FFF, 833px 796px #FFF, 183px 1037px #FFF, 56px 153px #FFF, 1489px 797px #FFF, 45px 521px #FFF, 1968px 439px #FFF, 610px 1069px #FFF, 1332px 834px #FFF, 515px 1360px #FFF, 556px 1807px #FFF, 20px 1094px #FFF, 738px 713px #FFF, 232px 990px #FFF, 1968px 1103px #FFF, 730px 640px #FFF, 1325px 1854px #FFF, 967px 1129px #FFF, 1316px 75px #FFF, 430px 1454px #FFF, 1064px 674px #FFF, 1321px 1805px #FFF, 980px 1982px #FFF, 1413px 767px #FFF, 948px 60px #FFF, 1851px 694px #FFF, 882px 709px #FFF, 1771px 1133px #FFF, 581px 450px #FFF, 1820px 610px #FFF, 1849px 1484px #FFF, 43px 1860px #FFF, 1745px 871px #FFF, 1990px 527px #FFF, 696px 1880px #FFF, 791px 1627px #FFF, 921px 94px #FFF, 318px 1146px #FFF, 63px 361px #FFF, 190px 291px #FFF, 1765px 814px #FFF, 795px 573px #FFF, 796px 1363px #FFF, 1465px 305px #FFF, 1533px 1919px #FFF, 1942px 1494px #FFF, 1867px 1975px #FFF, 983px 1525px #FFF, 1607px 1331px #FFF, 1189px 1208px #FFF, 1539px 1153px #FFF, 767px 1489px #FFF, 1249px 858px #FFF, 974px 814px #FFF, 1918px 1345px #FFF, 769px 1138px #FFF, 1844px 441px #FFF, 1715px 529px #FFF, 1439px 953px #FFF, 1925px 102px #FFF, 1795px 1047px #FFF, 257px 1564px #FFF, 877px 1981px #FFF, 926px 1005px #FFF, 1666px 1414px #FFF, 589px 1948px #FFF, 1683px 1592px #FFF, 1800px 832px #FFF, 1289px 1648px #FFF, 1176px 720px #FFF, 1705px 462px #FFF, 1440px 1624px #FFF, 503px 36px #FFF, 1942px 550px #FFF, 1442px 519px #FFF, 109px 1065px #FFF, 1294px 1659px #FFF, 1825px 1772px #FFF, 1216px 1419px #FFF, 276px 1534px #FFF, 1679px 181px #FFF, 1035px 1142px #FFF, 998px 215px #FFF, 1477px 1529px #FFF, 546px 1639px #FFF, 30px 1595px #FFF, 1385px 1973px #FFF, 1818px 1413px #FFF, 1048px 810px #FFF, 380px 639px #FFF, 1373px 16px #FFF, 630px 524px #FFF, 1518px 1839px #FFF, 1364px 1172px #FFF, 461px 15px #FFF, 1213px 1263px #FFF, 1773px 1950px #FFF, 1248px 1065px #FFF, 60px 1520px #FFF, 1480px 1019px #FFF, 883px 1305px #FFF, 291px 588px #FFF, 898px 1921px #FFF, 1402px 510px #FFF, 846px 334px #FFF, 1235px 219px #FFF, 297px 1621px #FFF, 378px 1466px #FFF, 626px 1134px #FFF, 380px 169px #FFF, 1219px 908px #FFF, 709px 782px #FFF, 383px 759px #FFF, 842px 1946px #FFF, 84px 294px #FFF, 653px 750px #FFF, 488px 1187px #FFF, 1436px 1997px #FFF, 1274px 208px #FFF, 1574px 1390px #FFF, 1670px 1225px #FFF, 1645px 1435px #FFF, 1576px 1490px #FFF, 1575px 655px #FFF, 1593px 1858px #FFF, 1585px 1366px #FFF, 761px 1637px #FFF, 280px 737px #FFF, 1323px 153px #FFF, 1495px 1419px #FFF, 1151px 810px #FFF, 1787px 237px #FFF, 13px 1229px #FFF, 337px 944px #FFF, 1286px 1567px #FFF, 394px 806px #FFF, 322px 1774px #FFF, 1191px 805px #FFF, 1128px 56px #FFF, 127px 1252px #FFF, 396px 620px #FFF, 681px 1903px #FFF, 1127px 1912px #FFF, 1841px 1354px #FFF, 1972px 1944px #FFF, 806px 624px #FFF, 241px 1135px #FFF, 1684px 1882px #FFF, 1356px 689px #FFF, 701px 492px #FFF, 964px 573px #FFF, 1454px 881px #FFF, 601px 1306px #FFF, 1624px 1340px #FFF, 1822px 698px #FFF, 1105px 526px #FFF, 991px 1919px #FFF, 1821px 405px #FFF, 348px 446px #FFF, 1644px 1473px #FFF, 1887px 661px #FFF, 1274px 632px #FFF, 549px 1122px #FFF, 693px 1156px #FFF, 799px 538px #FFF, 813px 1851px #FFF, 1620px 510px #FFF, 1465px 91px #FFF, 378px 1896px #FFF, 1562px 1287px #FFF, 1114px 1276px #FFF, 105px 1200px #FFF, 1584px 384px #FFF, 1761px 29px #FFF, 1022px 575px #FFF, 1734px 649px #FFF, 1985px 790px #FFF, 1480px 506px #FFF, 871px 1098px #FFF, 550px 1505px #FFF, 893px 1322px #FFF, 245px 1556px #FFF, 454px 1599px #FFF, 1656px 1992px #FFF, 1563px 984px #FFF, 670px 212px #FFF, 39px 1567px #FFF, 366px 996px #FFF, 590px 1261px #FFF, 1770px 607px #FFF, 729px 1138px #FFF, 452px 89px #FFF, 1386px 645px #FFF, 90px 1605px #FFF, 378px 1613px #FFF, 1382px 1966px #FFF, 553px 727px #FFF, 236px 1579px #FFF, 657px 658px #FFF, 1618px 556px #FFF, 165px 1148px #FFF, 1661px 520px #FFF, 612px 970px #FFF, 1037px 92px #FFF, 1570px 173px #FFF, 849px 799px #FFF, 994px 1889px #FFF, 284px 1413px #FFF, 1993px 1900px #FFF, 174px 1512px #FFF, 1988px 707px #FFF, 803px 234px #FFF, 995px 1318px #FFF, 1349px 431px #FFF, 523px 1683px #FFF, 1366px 1051px #FFF, 459px 430px #FFF, 1080px 1958px #FFF, 883px 1475px #FFF, 428px 1793px #FFF, 171px 566px #FFF, 221px 1187px #FFF, 1045px 763px #FFF, 987px 1315px #FFF, 1358px 1634px #FFF, 873px 1333px #FFF, 735px 1162px #FFF, 1798px 1004px #FFF, 1019px 52px #FFF, 1061px 1775px #FFF, 217px 923px #FFF, 1426px 932px #FFF, 932px 1937px #FFF, 382px 493px #FFF, 761px 1180px #FFF, 713px 151px #FFF, 500px 905px #FFF, 1225px 272px #FFF, 1770px 490px #FFF, 332px 1339px #FFF, 290px 256px #FFF, 1448px 1947px #FFF, 1311px 1342px #FFF, 1115px 1893px #FFF, 1649px 516px #FFF, 263px 392px #FFF, 695px 510px #FFF, 144px 10px #FFF, 1224px 1356px #FFF, 1001px 323px #FFF, 1685px 1159px #FFF, 1929px 605px #FFF, 1764px 931px #FFF, 1285px 1625px #FFF, 1673px 280px #FFF, 12px 1033px #FFF, 434px 751px #FFF, 620px 1423px #FFF, 965px 899px #FFF, 389px 1709px #FFF, 430px 280px #FFF, 1092px 711px #FFF, 342px 301px #FFF, 1620px 653px #FFF, 961px 1908px #FFF, 1138px 475px #FFF, 1369px 1432px #FFF, 1758px 1901px #FFF, 750px 939px #FFF, 1717px 491px #FFF, 350px 1945px #FFF, 148px 1440px #FFF, 978px 1254px #FFF, 1375px 1955px #FFF, 1965px 144px #FFF, 1382px 986px #FFF, 1964px 1717px #FFF, 291px 342px #FFF, 1564px 1588px #FFF, 1251px 354px #FFF, 1850px 779px #FFF, 546px 1396px #FFF, 82px 340px #FFF, 531px 1908px #FFF, 1220px 1313px #FFF, 1544px 567px #FFF, 1443px 292px #FFF, 1864px 740px #FFF, 1483px 1409px #FFF, 1793px 178px #FFF, 1729px 858px #FFF, 1995px 84px #FFF, 945px 1115px #FFF, 516px 1345px #FFF, 1622px 1937px #FFF, 1244px 367px #FFF, 714px 338px #FFF, 874px 1216px #FFF, 1869px 23px #FFF, 1424px 624px #FFF, 206px 1715px #FFF, 1008px 350px #FFF, 655px 100px #FFF, 808px 1423px #FFF, 1085px 1680px #FFF, 621px 323px #FFF, 65px 305px #FFF, 1362px 817px #FFF, 896px 515px #FFF, 978px 394px #FFF, 465px 1429px #FFF, 1011px 1793px #FFF, 1930px 1914px #FFF, 267px 300px #FFF, 663px 805px #FFF, 1234px 1608px #FFF, 1835px 1998px #FFF, 1590px 716px #FFF, 123px 494px #FFF, 862px 478px #FFF, 151px 958px #FFF, 99px 197px #FFF, 7px 1868px #FFF, 1685px 146px #FFF, 1523px 436px #FFF, 1726px 1610px #FFF, 1040px 299px #FFF, 33px 604px #FFF, 1207px 1262px #FFF, 943px 768px #FFF, 601px 1000px #FFF, 1855px 351px #FFF, 1410px 695px #FFF, 263px 140px #FFF, 211px 1153px #FFF, 659px 1373px #FFF, 826px 1143px #FFF, 893px 782px #FFF, 1447px 1212px #FFF, 119px 1775px #FFF, 1581px 1287px #FFF, 231px 875px #FFF, 1166px 1353px #FFF, 637px 909px #FFF, 1707px 1626px #FFF, 1173px 747px #FFF, 616px 954px #FFF, 538px 358px #FFF, 1211px 1551px #FFF, 944px 394px #FFF, 1764px 1431px #FFF, 907px 22px #FFF, 1845px 1064px #FFF, 798px 1475px #FFF, 1223px 1714px #FFF, 424px 664px #FFF, 1498px 1832px #FFF, 1723px 65px #FFF, 456px 641px #FFF, 45px 613px #FFF, 1290px 461px #FFF, 156px 1861px #FFF, 1842px 219px #FFF, 1684px 970px #FFF, 125px 684px #FFF, 1138px 1704px #FFF, 102px 256px #FFF, 1782px 1455px #FFF, 1393px 1131px #FFF, 40px 1900px #FFF, 1541px 1253px #FFF, 1473px 757px #FFF, 150px 212px #FFF, 50px 799px #FFF, 763px 1178px #FFF, 1094px 1794px #FFF, 1120px 436px #FFF, 213px 1111px #FFF, 553px 1426px #FFF, 1041px 1649px #FFF, 1971px 371px #FFF, 424px 934px #FFF, 533px 697px #FFF, 1792px 1332px #FFF, 466px 1380px #FFF, 1122px 1950px #FFF, 1623px 1329px #FFF, 145px 91px #FFF, 594px 901px #FFF, 1872px 792px #FFF, 1229px 1473px #FFF, 1176px 1300px #FFF, 645px 1465px #FFF, 816px 1798px #FFF, 725px 387px #FFF, 34px 1443px #FFF, 1667px 1386px #FFF, 615px 763px #FFF, 814px 1447px #FFF, 1341px 662px #FFF, 924px 1075px #FFF, 838px 1108px #FFF, 1545px 467px #FFF, 708px 546px #FFF, 729px 169px #FFF, 625px 944px #FFF, 1703px 954px #FFF, 1535px 1703px #FFF, 783px 212px #FFF, 1471px 604px #FFF, 497px 1194px #FFF, 1658px 606px #FFF, 1977px 1850px #FFF, 1569px 1850px #FFF, 1490px 1935px #FFF, 1565px 1592px #FFF, 676px 777px #FFF, 1453px 601px #FFF, 466px 121px #FFF, 457px 1713px #FFF, 1029px 1302px #FFF, 424px 1972px #FFF, 1243px 1916px #FFF, 592px 782px #FFF, 549px 1360px #FFF, 154px 1374px #FFF, 1617px 1800px #FFF, 761px 1452px #FFF, 1545px 1px #FFF, 286px 1670px #FFF, 15px 729px #FFF, 394px 161px #FFF, 1214px 463px #FFF, 246px 1706px #FFF, 431px 1149px #FFF, 1938px 160px #FFF, 667px 1314px #FFF, 1561px 1862px #FFF, 307px 501px #FFF, 76px 659px #FFF, 1821px 1517px #FFF, 985px 1652px #FFF, 841px 1534px #FFF, 141px 1145px #FFF, 1129px 1295px #FFF, 835px 468px #FFF, 123px 1984px #FFF, 785px 408px #FFF, 746px 1826px #FFF, 1995px 1587px #FFF, 444px 663px #FFF, 1028px 1302px #FFF, 237px 322px #FFF, 1381px 1949px #FFF, 1163px 595px #FFF, 1249px 1187px #FFF, 627px 1813px #FFF, 181px 1491px #FFF, 1551px 139px #FFF, 929px 1908px #FFF, 347px 313px #FFF, 1520px 1004px #FFF, 721px 1547px #FFF, 1284px 478px #FFF, 1596px 746px #FFF, 48px 1992px #FFF, 391px 1026px #FFF, 158px 1464px #FFF, 640px 408px #FFF, 1138px 964px #FFF, 282px 1318px #FFF, 1247px 1562px #FFF, 1277px 270px #FFF, 1930px 1655px #FFF, 1849px 296px #FFF, 15px 1974px #FFF, 462px 1472px #FFF, 756px 1207px #FFF, 47px 1413px #FFF, 865px 828px #FFF, 1156px 494px #FFF, 549px 1006px #FFF, 44px 112px #FFF, 1900px 86px #FFF, 623px 17px #FFF, 329px 774px #FFF, 1165px 119px #FFF, 227px 171px #FFF, 738px 340px #FFF, 1210px 1734px #FFF, 325px 942px #FFF, 1900px 1280px #FFF, 1361px 511px #FFF, 1517px 72px #FFF, 1670px 97px #FFF, 791px 1684px #FFF, 1860px 763px #FFF, 220px 906px #FFF, 1550px 874px #FFF, 1107px 1323px #FFF, 929px 1113px #FFF, 75px 1802px #FFF, 883px 198px #FFF, 261px 236px #FFF, 954px 1044px #FFF, 1542px 1569px #FFF, 519px 1924px #FFF, 1843px 963px #FFF, 35px 307px #FFF, 566px 1933px #FFF, 203px 1707px #FFF, 675px 267px #FFF, 1764px 857px #FFF, 1847px 165px #FFF, 661px 1594px #FFF, 1214px 694px #FFF, 1578px 1274px #FFF, 1110px 217px #FFF, 235px 309px #FFF, 1032px 851px #FFF, 1478px 600px #FFF, 1456px 496px #FFF, 147px 726px #FFF, 569px 1547px #FFF, 237px 403px #FFF, 847px 132px #FFF, 366px 1585px #FFF, 1600px 806px #FFF, 174px 707px #FFF, 1881px 708px #FFF, 1073px 305px #FFF, 1590px 1034px #FFF, 107px 1871px #FFF, 1774px 1094px #FFF, 63px 1369px #FFF, 8px 739px #FFF, 498px 668px #FFF, 184px 233px #FFF, 687px 1785px #FFF, 685px 1593px #FFF, 1954px 1059px #FFF, 1618px 370px #FFF, 1526px 1856px #FFF, 1806px 173px #FFF, 114px 21px #FFF, 1211px 1917px #FFF, 134px 1301px #FFF, 989px 1625px #FFF, 851px 1280px #FFF, 1980px 1554px #FFF, 1516px 1478px #FFF, 1624px 461px #FFF, 775px 92px #FFF, 763px 1990px #FFF, 1723px 1932px #FFF, 383px 482px #FFF, 1273px 374px #FFF, 1943px 738px #FFF, 506px 308px #FFF, 79px 1517px #FFF, 212px 1045px #FFF, 1750px 275px #FFF, 775px 1923px #FFF, 537px 1977px #FFF, 1330px 1745px #FFF, 818px 1749px #FFF, 1226px 1003px #FFF;
    animation: animStar 50s linear infinite;
}

#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1236px 35px #FFF, 862px 896px #FFF, 170px 1012px #FFF, 201px 1412px #FFF, 175px 498px #FFF, 870px 1017px #FFF, 1636px 1404px #FFF, 1393px 75px #FFF, 1002px 494px #FFF, 1761px 1254px #FFF, 682px 1036px #FFF, 33px 1768px #FFF, 838px 1619px #FFF, 312px 592px #FFF, 1357px 1281px #FFF, 518px 359px #FFF, 735px 1609px #FFF, 1562px 1036px #FFF, 687px 423px #FFF, 1825px 1707px #FFF, 1149px 1298px #FFF, 1296px 311px #FFF, 300px 1203px #FFF, 1423px 1057px #FFF, 1207px 56px #FFF, 236px 388px #FFF, 913px 773px #FFF, 263px 1924px #FFF, 1637px 1925px #FFF, 998px 1610px #FFF, 1306px 658px #FFF, 1257px 1782px #FFF, 1383px 322px #FFF, 39px 1834px #FFF, 1192px 70px #FFF, 356px 1701px #FFF, 1979px 1265px #FFF, 88px 1858px #FFF, 1884px 201px #FFF, 1165px 186px #FFF, 325px 1878px #FFF, 256px 32px #FFF, 561px 1326px #FFF, 585px 596px #FFF, 144px 495px #FFF, 969px 1852px #FFF, 627px 289px #FFF, 329px 1019px #FFF, 775px 7px #FFF, 363px 452px #FFF, 51px 790px #FFF, 1497px 1522px #FFF, 384px 697px #FFF, 1875px 860px #FFF, 250px 1201px #FFF, 1541px 461px #FFF, 1781px 457px #FFF, 165px 220px #FFF, 1640px 1834px #FFF, 878px 587px #FFF, 818px 1785px #FFF, 381px 1262px #FFF, 1154px 457px #FFF, 400px 1004px #FFF, 1932px 1757px #FFF, 57px 1299px #FFF, 1265px 508px #FFF, 1226px 1481px #FFF, 1119px 845px #FFF, 1520px 1246px #FFF, 1136px 1010px #FFF, 1136px 1392px #FFF, 1834px 226px #FFF, 553px 696px #FFF, 831px 1317px #FFF, 628px 134px #FFF, 254px 576px #FFF, 1753px 1483px #FFF, 238px 1777px #FFF, 1076px 1px #FFF, 472px 120px #FFF, 151px 1420px #FFF, 817px 1025px #FFF, 1148px 1388px #FFF, 1563px 1261px #FFF, 579px 341px #FFF, 575px 1035px #FFF, 120px 2px #FFF, 228px 672px #FFF, 708px 152px #FFF, 1356px 275px #FFF, 166px 994px #FFF, 1535px 1970px #FFF, 1808px 809px #FFF, 700px 1158px #FFF, 1023px 1225px #FFF, 1695px 968px #FFF, 1631px 48px #FFF, 1066px 379px #FFF, 867px 163px #FFF, 314px 929px #FFF, 1080px 1302px #FFF, 1706px 575px #FFF, 1467px 580px #FFF, 754px 1185px #FFF, 1865px 1701px #FFF, 857px 1288px #FFF, 991px 1289px #FFF, 700px 1445px #FFF, 1559px 1458px #FFF, 824px 787px #FFF, 1329px 1993px #FFF, 900px 815px #FFF, 1166px 1652px #FFF, 1797px 634px #FFF, 667px 1200px #FFF, 1519px 741px #FFF, 813px 1635px #FFF, 287px 1957px #FFF, 175px 1318px #FFF, 199px 1113px #FFF, 1094px 1374px #FFF, 1401px 1704px #FFF, 1120px 1011px #FFF, 1130px 257px #FFF, 541px 733px #FFF, 1320px 333px #FFF, 727px 166px #FFF, 1003px 379px #FFF, 102px 1432px #FFF, 1567px 1367px #FFF, 1851px 78px #FFF, 32px 972px #FFF, 520px 228px #FFF, 833px 796px #FFF, 183px 1037px #FFF, 56px 153px #FFF, 1489px 797px #FFF, 45px 521px #FFF, 1968px 439px #FFF, 610px 1069px #FFF, 1332px 834px #FFF, 515px 1360px #FFF, 556px 1807px #FFF, 20px 1094px #FFF, 738px 713px #FFF, 232px 990px #FFF, 1968px 1103px #FFF, 730px 640px #FFF, 1325px 1854px #FFF, 967px 1129px #FFF, 1316px 75px #FFF, 430px 1454px #FFF, 1064px 674px #FFF, 1321px 1805px #FFF, 980px 1982px #FFF, 1413px 767px #FFF, 948px 60px #FFF, 1851px 694px #FFF, 882px 709px #FFF, 1771px 1133px #FFF, 581px 450px #FFF, 1820px 610px #FFF, 1849px 1484px #FFF, 43px 1860px #FFF, 1745px 871px #FFF, 1990px 527px #FFF, 696px 1880px #FFF, 791px 1627px #FFF, 921px 94px #FFF, 318px 1146px #FFF, 63px 361px #FFF, 190px 291px #FFF, 1765px 814px #FFF, 795px 573px #FFF, 796px 1363px #FFF, 1465px 305px #FFF, 1533px 1919px #FFF, 1942px 1494px #FFF, 1867px 1975px #FFF, 983px 1525px #FFF, 1607px 1331px #FFF, 1189px 1208px #FFF, 1539px 1153px #FFF, 767px 1489px #FFF, 1249px 858px #FFF, 974px 814px #FFF, 1918px 1345px #FFF, 769px 1138px #FFF, 1844px 441px #FFF, 1715px 529px #FFF, 1439px 953px #FFF, 1925px 102px #FFF, 1795px 1047px #FFF, 257px 1564px #FFF, 877px 1981px #FFF, 926px 1005px #FFF, 1666px 1414px #FFF, 589px 1948px #FFF, 1683px 1592px #FFF, 1800px 832px #FFF, 1289px 1648px #FFF, 1176px 720px #FFF, 1705px 462px #FFF, 1440px 1624px #FFF, 503px 36px #FFF, 1942px 550px #FFF, 1442px 519px #FFF, 109px 1065px #FFF, 1294px 1659px #FFF, 1825px 1772px #FFF, 1216px 1419px #FFF, 276px 1534px #FFF, 1679px 181px #FFF, 1035px 1142px #FFF, 998px 215px #FFF, 1477px 1529px #FFF, 546px 1639px #FFF, 30px 1595px #FFF, 1385px 1973px #FFF, 1818px 1413px #FFF, 1048px 810px #FFF, 380px 639px #FFF, 1373px 16px #FFF, 630px 524px #FFF, 1518px 1839px #FFF, 1364px 1172px #FFF, 461px 15px #FFF, 1213px 1263px #FFF, 1773px 1950px #FFF, 1248px 1065px #FFF, 60px 1520px #FFF, 1480px 1019px #FFF, 883px 1305px #FFF, 291px 588px #FFF, 898px 1921px #FFF, 1402px 510px #FFF, 846px 334px #FFF, 1235px 219px #FFF, 297px 1621px #FFF, 378px 1466px #FFF, 626px 1134px #FFF, 380px 169px #FFF, 1219px 908px #FFF, 709px 782px #FFF, 383px 759px #FFF, 842px 1946px #FFF, 84px 294px #FFF, 653px 750px #FFF, 488px 1187px #FFF, 1436px 1997px #FFF, 1274px 208px #FFF, 1574px 1390px #FFF, 1670px 1225px #FFF, 1645px 1435px #FFF, 1576px 1490px #FFF, 1575px 655px #FFF, 1593px 1858px #FFF, 1585px 1366px #FFF, 761px 1637px #FFF, 280px 737px #FFF, 1323px 153px #FFF, 1495px 1419px #FFF, 1151px 810px #FFF, 1787px 237px #FFF, 13px 1229px #FFF, 337px 944px #FFF, 1286px 1567px #FFF, 394px 806px #FFF, 322px 1774px #FFF, 1191px 805px #FFF, 1128px 56px #FFF, 127px 1252px #FFF, 396px 620px #FFF, 681px 1903px #FFF, 1127px 1912px #FFF, 1841px 1354px #FFF, 1972px 1944px #FFF, 806px 624px #FFF, 241px 1135px #FFF, 1684px 1882px #FFF, 1356px 689px #FFF, 701px 492px #FFF, 964px 573px #FFF, 1454px 881px #FFF, 601px 1306px #FFF, 1624px 1340px #FFF, 1822px 698px #FFF, 1105px 526px #FFF, 991px 1919px #FFF, 1821px 405px #FFF, 348px 446px #FFF, 1644px 1473px #FFF, 1887px 661px #FFF, 1274px 632px #FFF, 549px 1122px #FFF, 693px 1156px #FFF, 799px 538px #FFF, 813px 1851px #FFF, 1620px 510px #FFF, 1465px 91px #FFF, 378px 1896px #FFF, 1562px 1287px #FFF, 1114px 1276px #FFF, 105px 1200px #FFF, 1584px 384px #FFF, 1761px 29px #FFF, 1022px 575px #FFF, 1734px 649px #FFF, 1985px 790px #FFF, 1480px 506px #FFF, 871px 1098px #FFF, 550px 1505px #FFF, 893px 1322px #FFF, 245px 1556px #FFF, 454px 1599px #FFF, 1656px 1992px #FFF, 1563px 984px #FFF, 670px 212px #FFF, 39px 1567px #FFF, 366px 996px #FFF, 590px 1261px #FFF, 1770px 607px #FFF, 729px 1138px #FFF, 452px 89px #FFF, 1386px 645px #FFF, 90px 1605px #FFF, 378px 1613px #FFF, 1382px 1966px #FFF, 553px 727px #FFF, 236px 1579px #FFF, 657px 658px #FFF, 1618px 556px #FFF, 165px 1148px #FFF, 1661px 520px #FFF, 612px 970px #FFF, 1037px 92px #FFF, 1570px 173px #FFF, 849px 799px #FFF, 994px 1889px #FFF, 284px 1413px #FFF, 1993px 1900px #FFF, 174px 1512px #FFF, 1988px 707px #FFF, 803px 234px #FFF, 995px 1318px #FFF, 1349px 431px #FFF, 523px 1683px #FFF, 1366px 1051px #FFF, 459px 430px #FFF, 1080px 1958px #FFF, 883px 1475px #FFF, 428px 1793px #FFF, 171px 566px #FFF, 221px 1187px #FFF, 1045px 763px #FFF, 987px 1315px #FFF, 1358px 1634px #FFF, 873px 1333px #FFF, 735px 1162px #FFF, 1798px 1004px #FFF, 1019px 52px #FFF, 1061px 1775px #FFF, 217px 923px #FFF, 1426px 932px #FFF, 932px 1937px #FFF, 382px 493px #FFF, 761px 1180px #FFF, 713px 151px #FFF, 500px 905px #FFF, 1225px 272px #FFF, 1770px 490px #FFF, 332px 1339px #FFF, 290px 256px #FFF, 1448px 1947px #FFF, 1311px 1342px #FFF, 1115px 1893px #FFF, 1649px 516px #FFF, 263px 392px #FFF, 695px 510px #FFF, 144px 10px #FFF, 1224px 1356px #FFF, 1001px 323px #FFF, 1685px 1159px #FFF, 1929px 605px #FFF, 1764px 931px #FFF, 1285px 1625px #FFF, 1673px 280px #FFF, 12px 1033px #FFF, 434px 751px #FFF, 620px 1423px #FFF, 965px 899px #FFF, 389px 1709px #FFF, 430px 280px #FFF, 1092px 711px #FFF, 342px 301px #FFF, 1620px 653px #FFF, 961px 1908px #FFF, 1138px 475px #FFF, 1369px 1432px #FFF, 1758px 1901px #FFF, 750px 939px #FFF, 1717px 491px #FFF, 350px 1945px #FFF, 148px 1440px #FFF, 978px 1254px #FFF, 1375px 1955px #FFF, 1965px 144px #FFF, 1382px 986px #FFF, 1964px 1717px #FFF, 291px 342px #FFF, 1564px 1588px #FFF, 1251px 354px #FFF, 1850px 779px #FFF, 546px 1396px #FFF, 82px 340px #FFF, 531px 1908px #FFF, 1220px 1313px #FFF, 1544px 567px #FFF, 1443px 292px #FFF, 1864px 740px #FFF, 1483px 1409px #FFF, 1793px 178px #FFF, 1729px 858px #FFF, 1995px 84px #FFF, 945px 1115px #FFF, 516px 1345px #FFF, 1622px 1937px #FFF, 1244px 367px #FFF, 714px 338px #FFF, 874px 1216px #FFF, 1869px 23px #FFF, 1424px 624px #FFF, 206px 1715px #FFF, 1008px 350px #FFF, 655px 100px #FFF, 808px 1423px #FFF, 1085px 1680px #FFF, 621px 323px #FFF, 65px 305px #FFF, 1362px 817px #FFF, 896px 515px #FFF, 978px 394px #FFF, 465px 1429px #FFF, 1011px 1793px #FFF, 1930px 1914px #FFF, 267px 300px #FFF, 663px 805px #FFF, 1234px 1608px #FFF, 1835px 1998px #FFF, 1590px 716px #FFF, 123px 494px #FFF, 862px 478px #FFF, 151px 958px #FFF, 99px 197px #FFF, 7px 1868px #FFF, 1685px 146px #FFF, 1523px 436px #FFF, 1726px 1610px #FFF, 1040px 299px #FFF, 33px 604px #FFF, 1207px 1262px #FFF, 943px 768px #FFF, 601px 1000px #FFF, 1855px 351px #FFF, 1410px 695px #FFF, 263px 140px #FFF, 211px 1153px #FFF, 659px 1373px #FFF, 826px 1143px #FFF, 893px 782px #FFF, 1447px 1212px #FFF, 119px 1775px #FFF, 1581px 1287px #FFF, 231px 875px #FFF, 1166px 1353px #FFF, 637px 909px #FFF, 1707px 1626px #FFF, 1173px 747px #FFF, 616px 954px #FFF, 538px 358px #FFF, 1211px 1551px #FFF, 944px 394px #FFF, 1764px 1431px #FFF, 907px 22px #FFF, 1845px 1064px #FFF, 798px 1475px #FFF, 1223px 1714px #FFF, 424px 664px #FFF, 1498px 1832px #FFF, 1723px 65px #FFF, 456px 641px #FFF, 45px 613px #FFF, 1290px 461px #FFF, 156px 1861px #FFF, 1842px 219px #FFF, 1684px 970px #FFF, 125px 684px #FFF, 1138px 1704px #FFF, 102px 256px #FFF, 1782px 1455px #FFF, 1393px 1131px #FFF, 40px 1900px #FFF, 1541px 1253px #FFF, 1473px 757px #FFF, 150px 212px #FFF, 50px 799px #FFF, 763px 1178px #FFF, 1094px 1794px #FFF, 1120px 436px #FFF, 213px 1111px #FFF, 553px 1426px #FFF, 1041px 1649px #FFF, 1971px 371px #FFF, 424px 934px #FFF, 533px 697px #FFF, 1792px 1332px #FFF, 466px 1380px #FFF, 1122px 1950px #FFF, 1623px 1329px #FFF, 145px 91px #FFF, 594px 901px #FFF, 1872px 792px #FFF, 1229px 1473px #FFF, 1176px 1300px #FFF, 645px 1465px #FFF, 816px 1798px #FFF, 725px 387px #FFF, 34px 1443px #FFF, 1667px 1386px #FFF, 615px 763px #FFF, 814px 1447px #FFF, 1341px 662px #FFF, 924px 1075px #FFF, 838px 1108px #FFF, 1545px 467px #FFF, 708px 546px #FFF, 729px 169px #FFF, 625px 944px #FFF, 1703px 954px #FFF, 1535px 1703px #FFF, 783px 212px #FFF, 1471px 604px #FFF, 497px 1194px #FFF, 1658px 606px #FFF, 1977px 1850px #FFF, 1569px 1850px #FFF, 1490px 1935px #FFF, 1565px 1592px #FFF, 676px 777px #FFF, 1453px 601px #FFF, 466px 121px #FFF, 457px 1713px #FFF, 1029px 1302px #FFF, 424px 1972px #FFF, 1243px 1916px #FFF, 592px 782px #FFF, 549px 1360px #FFF, 154px 1374px #FFF, 1617px 1800px #FFF, 761px 1452px #FFF, 1545px 1px #FFF, 286px 1670px #FFF, 15px 729px #FFF, 394px 161px #FFF, 1214px 463px #FFF, 246px 1706px #FFF, 431px 1149px #FFF, 1938px 160px #FFF, 667px 1314px #FFF, 1561px 1862px #FFF, 307px 501px #FFF, 76px 659px #FFF, 1821px 1517px #FFF, 985px 1652px #FFF, 841px 1534px #FFF, 141px 1145px #FFF, 1129px 1295px #FFF, 835px 468px #FFF, 123px 1984px #FFF, 785px 408px #FFF, 746px 1826px #FFF, 1995px 1587px #FFF, 444px 663px #FFF, 1028px 1302px #FFF, 237px 322px #FFF, 1381px 1949px #FFF, 1163px 595px #FFF, 1249px 1187px #FFF, 627px 1813px #FFF, 181px 1491px #FFF, 1551px 139px #FFF, 929px 1908px #FFF, 347px 313px #FFF, 1520px 1004px #FFF, 721px 1547px #FFF, 1284px 478px #FFF, 1596px 746px #FFF, 48px 1992px #FFF, 391px 1026px #FFF, 158px 1464px #FFF, 640px 408px #FFF, 1138px 964px #FFF, 282px 1318px #FFF, 1247px 1562px #FFF, 1277px 270px #FFF, 1930px 1655px #FFF, 1849px 296px #FFF, 15px 1974px #FFF, 462px 1472px #FFF, 756px 1207px #FFF, 47px 1413px #FFF, 865px 828px #FFF, 1156px 494px #FFF, 549px 1006px #FFF, 44px 112px #FFF, 1900px 86px #FFF, 623px 17px #FFF, 329px 774px #FFF, 1165px 119px #FFF, 227px 171px #FFF, 738px 340px #FFF, 1210px 1734px #FFF, 325px 942px #FFF, 1900px 1280px #FFF, 1361px 511px #FFF, 1517px 72px #FFF, 1670px 97px #FFF, 791px 1684px #FFF, 1860px 763px #FFF, 220px 906px #FFF, 1550px 874px #FFF, 1107px 1323px #FFF, 929px 1113px #FFF, 75px 1802px #FFF, 883px 198px #FFF, 261px 236px #FFF, 954px 1044px #FFF, 1542px 1569px #FFF, 519px 1924px #FFF, 1843px 963px #FFF, 35px 307px #FFF, 566px 1933px #FFF, 203px 1707px #FFF, 675px 267px #FFF, 1764px 857px #FFF, 1847px 165px #FFF, 661px 1594px #FFF, 1214px 694px #FFF, 1578px 1274px #FFF, 1110px 217px #FFF, 235px 309px #FFF, 1032px 851px #FFF, 1478px 600px #FFF, 1456px 496px #FFF, 147px 726px #FFF, 569px 1547px #FFF, 237px 403px #FFF, 847px 132px #FFF, 366px 1585px #FFF, 1600px 806px #FFF, 174px 707px #FFF, 1881px 708px #FFF, 1073px 305px #FFF, 1590px 1034px #FFF, 107px 1871px #FFF, 1774px 1094px #FFF, 63px 1369px #FFF, 8px 739px #FFF, 498px 668px #FFF, 184px 233px #FFF, 687px 1785px #FFF, 685px 1593px #FFF, 1954px 1059px #FFF, 1618px 370px #FFF, 1526px 1856px #FFF, 1806px 173px #FFF, 114px 21px #FFF, 1211px 1917px #FFF, 134px 1301px #FFF, 989px 1625px #FFF, 851px 1280px #FFF, 1980px 1554px #FFF, 1516px 1478px #FFF, 1624px 461px #FFF, 775px 92px #FFF, 763px 1990px #FFF, 1723px 1932px #FFF, 383px 482px #FFF, 1273px 374px #FFF, 1943px 738px #FFF, 506px 308px #FFF, 79px 1517px #FFF, 212px 1045px #FFF, 1750px 275px #FFF, 775px 1923px #FFF, 537px 1977px #FFF, 1330px 1745px #FFF, 818px 1749px #FFF, 1226px 1003px #FFF;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1421px 1580px #FFF, 405px 1471px #FFF, 970px 577px #FFF, 1975px 230px #FFF, 1693px 1106px #FFF, 1171px 1189px #FFF, 823px 580px #FFF, 1462px 712px #FFF, 1978px 1080px #FFF, 278px 1839px #FFF, 666px 848px #FFF, 1099px 1115px #FFF, 1011px 1114px #FFF, 575px 189px #FFF, 581px 118px #FFF, 1218px 1850px #FFF, 1200px 22px #FFF, 1756px 1989px #FFF, 1391px 1021px #FFF, 1104px 402px #FFF, 1255px 1156px #FFF, 40px 239px #FFF, 690px 1738px #FFF, 244px 1791px #FFF, 374px 739px #FFF, 504px 1133px #FFF, 1157px 295px #FFF, 297px 1850px #FFF, 1134px 91px #FFF, 569px 240px #FFF, 1069px 1470px #FFF, 1457px 519px #FFF, 1455px 1251px #FFF, 1071px 764px #FFF, 1917px 1966px #FFF, 1492px 1351px #FFF, 852px 1884px #FFF, 1754px 39px #FFF, 1906px 247px #FFF, 988px 1614px #FFF, 520px 1902px #FFF, 539px 1316px #FFF, 1063px 198px #FFF, 107px 1740px #FFF, 378px 1025px #FFF, 1824px 1168px #FFF, 1420px 288px #FFF, 1581px 652px #FFF, 1612px 1522px #FFF, 1608px 1944px #FFF, 745px 950px #FFF, 88px 945px #FFF, 738px 129px #FFF, 261px 322px #FFF, 1030px 687px #FFF, 182px 1601px #FFF, 819px 1365px #FFF, 1578px 865px #FFF, 476px 364px #FFF, 508px 1262px #FFF, 884px 245px #FFF, 1798px 1685px #FFF, 1888px 1847px #FFF, 7px 848px #FFF, 49px 893px #FFF, 1805px 408px #FFF, 259px 106px #FFF, 1171px 669px #FFF, 1827px 1401px #FFF, 325px 1237px #FFF, 723px 290px #FFF, 422px 170px #FFF, 665px 1573px #FFF, 1939px 1212px #FFF, 1935px 209px #FFF, 145px 327px #FFF, 868px 847px #FFF, 673px 326px #FFF, 82px 1778px #FFF, 603px 556px #FFF, 766px 959px #FFF, 431px 1985px #FFF, 1734px 547px #FFF, 703px 1901px #FFF, 1290px 75px #FFF, 406px 267px #FFF, 848px 1478px #FFF, 1759px 525px #FFF, 644px 921px #FFF, 695px 501px #FFF, 500px 1518px #FFF, 1435px 1170px #FFF, 525px 70px #FFF, 260px 218px #FFF, 1178px 513px #FFF, 143px 570px #FFF, 1851px 1685px #FFF, 340px 676px #FFF, 1150px 1229px #FFF, 498px 220px #FFF, 274px 1709px #FFF, 1488px 1200px #FFF, 519px 1037px #FFF, 547px 167px #FFF, 743px 1864px #FFF, 916px 1275px #FFF, 1204px 413px #FFF, 1064px 613px #FFF, 1934px 911px #FFF, 460px 1239px #FFF, 669px 1893px #FFF, 1852px 1764px #FFF, 417px 531px #FFF, 216px 1039px #FFF, 1265px 1698px #FFF, 93px 1430px #FFF, 560px 1550px #FFF, 1092px 1461px #FFF, 305px 1608px #FFF, 1217px 1596px #FFF, 1962px 1232px #FFF, 1535px 107px #FFF, 1394px 76px #FFF, 710px 96px #FFF, 1615px 485px #FFF, 1625px 1474px #FFF, 740px 1835px #FFF, 902px 447px #FFF, 207px 1971px #FFF, 1123px 1160px #FFF, 1473px 1840px #FFF, 1475px 859px #FFF, 1331px 1201px #FFF, 330px 628px #FFF, 3px 187px #FFF, 827px 64px #FFF, 1498px 1744px #FFF, 1154px 751px #FFF, 1476px 104px #FFF, 1470px 1165px #FFF, 185px 1688px #FFF, 179px 1955px #FFF, 898px 279px #FFF, 1558px 1319px #FFF, 261px 1551px #FFF, 950px 718px #FFF, 1569px 74px #FFF, 37px 1360px #FFF, 575px 1437px #FFF, 1475px 17px #FFF, 1570px 685px #FFF, 1364px 374px #FFF, 1158px 1353px #FFF, 447px 1933px #FFF, 1846px 105px #FFF, 374px 1276px #FFF, 1621px 429px #FFF, 1944px 1469px #FFF, 402px 928px #FFF, 1578px 402px #FFF, 1979px 1116px #FFF, 1496px 1303px #FFF, 1113px 638px #FFF, 828px 1909px #FFF, 1080px 1742px #FFF, 1100px 311px #FFF, 1057px 54px #FFF, 1222px 991px #FFF, 1693px 416px #FFF, 1715px 858px #FFF, 377px 519px #FFF, 1899px 11px #FFF, 932px 311px #FFF, 542px 891px #FFF, 1351px 519px #FFF, 426px 1130px #FFF, 1217px 1998px #FFF, 1577px 1378px #FFF, 181px 1357px #FFF, 1601px 1761px #FFF, 508px 347px #FFF, 938px 1894px #FFF, 668px 753px #FFF, 696px 1863px #FFF, 689px 1214px #FFF, 303px 1497px #FFF, 454px 1940px #FFF, 1929px 594px #FFF, 1828px 1690px #FFF, 238px 1781px #FFF, 1818px 28px #FFF, 1731px 574px #FFF, 86px 648px #FFF, 1405px 1314px #FFF, 589px 834px #FFF, 1003px 60px #FFF, 1918px 412px #FFF, 691px 1373px #FFF, 458px 1574px #FFF, 1764px 1862px #FFF;
    animation: animStar 100s linear infinite;
}

#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1421px 1580px #FFF, 405px 1471px #FFF, 970px 577px #FFF, 1975px 230px #FFF, 1693px 1106px #FFF, 1171px 1189px #FFF, 823px 580px #FFF, 1462px 712px #FFF, 1978px 1080px #FFF, 278px 1839px #FFF, 666px 848px #FFF, 1099px 1115px #FFF, 1011px 1114px #FFF, 575px 189px #FFF, 581px 118px #FFF, 1218px 1850px #FFF, 1200px 22px #FFF, 1756px 1989px #FFF, 1391px 1021px #FFF, 1104px 402px #FFF, 1255px 1156px #FFF, 40px 239px #FFF, 690px 1738px #FFF, 244px 1791px #FFF, 374px 739px #FFF, 504px 1133px #FFF, 1157px 295px #FFF, 297px 1850px #FFF, 1134px 91px #FFF, 569px 240px #FFF, 1069px 1470px #FFF, 1457px 519px #FFF, 1455px 1251px #FFF, 1071px 764px #FFF, 1917px 1966px #FFF, 1492px 1351px #FFF, 852px 1884px #FFF, 1754px 39px #FFF, 1906px 247px #FFF, 988px 1614px #FFF, 520px 1902px #FFF, 539px 1316px #FFF, 1063px 198px #FFF, 107px 1740px #FFF, 378px 1025px #FFF, 1824px 1168px #FFF, 1420px 288px #FFF, 1581px 652px #FFF, 1612px 1522px #FFF, 1608px 1944px #FFF, 745px 950px #FFF, 88px 945px #FFF, 738px 129px #FFF, 261px 322px #FFF, 1030px 687px #FFF, 182px 1601px #FFF, 819px 1365px #FFF, 1578px 865px #FFF, 476px 364px #FFF, 508px 1262px #FFF, 884px 245px #FFF, 1798px 1685px #FFF, 1888px 1847px #FFF, 7px 848px #FFF, 49px 893px #FFF, 1805px 408px #FFF, 259px 106px #FFF, 1171px 669px #FFF, 1827px 1401px #FFF, 325px 1237px #FFF, 723px 290px #FFF, 422px 170px #FFF, 665px 1573px #FFF, 1939px 1212px #FFF, 1935px 209px #FFF, 145px 327px #FFF, 868px 847px #FFF, 673px 326px #FFF, 82px 1778px #FFF, 603px 556px #FFF, 766px 959px #FFF, 431px 1985px #FFF, 1734px 547px #FFF, 703px 1901px #FFF, 1290px 75px #FFF, 406px 267px #FFF, 848px 1478px #FFF, 1759px 525px #FFF, 644px 921px #FFF, 695px 501px #FFF, 500px 1518px #FFF, 1435px 1170px #FFF, 525px 70px #FFF, 260px 218px #FFF, 1178px 513px #FFF, 143px 570px #FFF, 1851px 1685px #FFF, 340px 676px #FFF, 1150px 1229px #FFF, 498px 220px #FFF, 274px 1709px #FFF, 1488px 1200px #FFF, 519px 1037px #FFF, 547px 167px #FFF, 743px 1864px #FFF, 916px 1275px #FFF, 1204px 413px #FFF, 1064px 613px #FFF, 1934px 911px #FFF, 460px 1239px #FFF, 669px 1893px #FFF, 1852px 1764px #FFF, 417px 531px #FFF, 216px 1039px #FFF, 1265px 1698px #FFF, 93px 1430px #FFF, 560px 1550px #FFF, 1092px 1461px #FFF, 305px 1608px #FFF, 1217px 1596px #FFF, 1962px 1232px #FFF, 1535px 107px #FFF, 1394px 76px #FFF, 710px 96px #FFF, 1615px 485px #FFF, 1625px 1474px #FFF, 740px 1835px #FFF, 902px 447px #FFF, 207px 1971px #FFF, 1123px 1160px #FFF, 1473px 1840px #FFF, 1475px 859px #FFF, 1331px 1201px #FFF, 330px 628px #FFF, 3px 187px #FFF, 827px 64px #FFF, 1498px 1744px #FFF, 1154px 751px #FFF, 1476px 104px #FFF, 1470px 1165px #FFF, 185px 1688px #FFF, 179px 1955px #FFF, 898px 279px #FFF, 1558px 1319px #FFF, 261px 1551px #FFF, 950px 718px #FFF, 1569px 74px #FFF, 37px 1360px #FFF, 575px 1437px #FFF, 1475px 17px #FFF, 1570px 685px #FFF, 1364px 374px #FFF, 1158px 1353px #FFF, 447px 1933px #FFF, 1846px 105px #FFF, 374px 1276px #FFF, 1621px 429px #FFF, 1944px 1469px #FFF, 402px 928px #FFF, 1578px 402px #FFF, 1979px 1116px #FFF, 1496px 1303px #FFF, 1113px 638px #FFF, 828px 1909px #FFF, 1080px 1742px #FFF, 1100px 311px #FFF, 1057px 54px #FFF, 1222px 991px #FFF, 1693px 416px #FFF, 1715px 858px #FFF, 377px 519px #FFF, 1899px 11px #FFF, 932px 311px #FFF, 542px 891px #FFF, 1351px 519px #FFF, 426px 1130px #FFF, 1217px 1998px #FFF, 1577px 1378px #FFF, 181px 1357px #FFF, 1601px 1761px #FFF, 508px 347px #FFF, 938px 1894px #FFF, 668px 753px #FFF, 696px 1863px #FFF, 689px 1214px #FFF, 303px 1497px #FFF, 454px 1940px #FFF, 1929px 594px #FFF, 1828px 1690px #FFF, 238px 1781px #FFF, 1818px 28px #FFF, 1731px 574px #FFF, 86px 648px #FFF, 1405px 1314px #FFF, 589px 834px #FFF, 1003px 60px #FFF, 1918px 412px #FFF, 691px 1373px #FFF, 458px 1574px #FFF, 1764px 1862px #FFF;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 330px 1119px #FFF, 686px 233px #FFF, 1963px 1599px #FFF, 321px 1654px #FFF, 1866px 989px #FFF, 943px 451px #FFF, 845px 853px #FFF, 1414px 1821px #FFF, 1222px 1034px #FFF, 1054px 923px #FFF, 1966px 1920px #FFF, 1018px 1285px #FFF, 596px 1100px #FFF, 546px 206px #FFF, 384px 1828px #FFF, 260px 725px #FFF, 1097px 1105px #FFF, 159px 1184px #FFF, 720px 1802px #FFF, 893px 420px #FFF, 127px 1692px #FFF, 1332px 1216px #FFF, 985px 872px #FFF, 580px 1479px #FFF, 1184px 1619px #FFF, 1896px 231px #FFF, 924px 1740px #FFF, 1547px 391px #FFF, 1025px 1239px #FFF, 1401px 529px #FFF, 110px 1924px #FFF, 1486px 1994px #FFF, 1334px 231px #FFF, 438px 639px #FFF, 1081px 734px #FFF, 805px 605px #FFF, 170px 26px #FFF, 248px 1479px #FFF, 1390px 870px #FFF, 1260px 1399px #FFF, 781px 128px #FFF, 1505px 248px #FFF, 811px 311px #FFF, 1729px 408px #FFF, 1421px 1679px #FFF, 1413px 397px #FFF, 292px 842px #FFF, 1539px 1057px #FFF, 489px 879px #FFF, 12px 853px #FFF, 1554px 1408px #FFF, 45px 613px #FFF, 214px 1584px #FFF, 1846px 391px #FFF, 1892px 1229px #FFF, 1664px 1116px #FFF, 1086px 854px #FFF, 550px 327px #FFF, 554px 245px #FFF, 1346px 842px #FFF, 23px 556px #FFF, 1272px 633px #FFF, 1243px 711px #FFF, 1656px 218px #FFF, 198px 1137px #FFF, 1670px 136px #FFF, 1307px 1153px #FFF, 1296px 942px #FFF, 37px 1033px #FFF, 166px 842px #FFF, 1361px 1804px #FFF, 1444px 339px #FFF, 1965px 1190px #FFF, 451px 1130px #FFF, 324px 352px #FFF, 519px 1860px #FFF, 150px 87px #FFF, 1374px 1091px #FFF, 1810px 372px #FFF, 1224px 1081px #FFF, 666px 411px #FFF, 1613px 303px #FFF, 162px 1767px #FFF, 1960px 1613px #FFF, 1663px 123px #FFF, 1225px 1499px #FFF, 1436px 1262px #FFF, 590px 1628px #FFF, 797px 1891px #FFF, 179px 1728px #FFF, 1873px 1398px #FFF, 1519px 1904px #FFF, 943px 820px #FFF, 936px 107px #FFF, 1764px 1819px #FFF, 1302px 296px #FFF, 1402px 947px #FFF, 897px 970px #FFF, 1109px 1962px #FFF, 1997px 1318px #FFF;
    animation: animStar 150s linear infinite;
}

#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 330px 1119px #FFF, 686px 233px #FFF, 1963px 1599px #FFF, 321px 1654px #FFF, 1866px 989px #FFF, 943px 451px #FFF, 845px 853px #FFF, 1414px 1821px #FFF, 1222px 1034px #FFF, 1054px 923px #FFF, 1966px 1920px #FFF, 1018px 1285px #FFF, 596px 1100px #FFF, 546px 206px #FFF, 384px 1828px #FFF, 260px 725px #FFF, 1097px 1105px #FFF, 159px 1184px #FFF, 720px 1802px #FFF, 893px 420px #FFF, 127px 1692px #FFF, 1332px 1216px #FFF, 985px 872px #FFF, 580px 1479px #FFF, 1184px 1619px #FFF, 1896px 231px #FFF, 924px 1740px #FFF, 1547px 391px #FFF, 1025px 1239px #FFF, 1401px 529px #FFF, 110px 1924px #FFF, 1486px 1994px #FFF, 1334px 231px #FFF, 438px 639px #FFF, 1081px 734px #FFF, 805px 605px #FFF, 170px 26px #FFF, 248px 1479px #FFF, 1390px 870px #FFF, 1260px 1399px #FFF, 781px 128px #FFF, 1505px 248px #FFF, 811px 311px #FFF, 1729px 408px #FFF, 1421px 1679px #FFF, 1413px 397px #FFF, 292px 842px #FFF, 1539px 1057px #FFF, 489px 879px #FFF, 12px 853px #FFF, 1554px 1408px #FFF, 45px 613px #FFF, 214px 1584px #FFF, 1846px 391px #FFF, 1892px 1229px #FFF, 1664px 1116px #FFF, 1086px 854px #FFF, 550px 327px #FFF, 554px 245px #FFF, 1346px 842px #FFF, 23px 556px #FFF, 1272px 633px #FFF, 1243px 711px #FFF, 1656px 218px #FFF, 198px 1137px #FFF, 1670px 136px #FFF, 1307px 1153px #FFF, 1296px 942px #FFF, 37px 1033px #FFF, 166px 842px #FFF, 1361px 1804px #FFF, 1444px 339px #FFF, 1965px 1190px #FFF, 451px 1130px #FFF, 324px 352px #FFF, 519px 1860px #FFF, 150px 87px #FFF, 1374px 1091px #FFF, 1810px 372px #FFF, 1224px 1081px #FFF, 666px 411px #FFF, 1613px 303px #FFF, 162px 1767px #FFF, 1960px 1613px #FFF, 1663px 123px #FFF, 1225px 1499px #FFF, 1436px 1262px #FFF, 590px 1628px #FFF, 797px 1891px #FFF, 179px 1728px #FFF, 1873px 1398px #FFF, 1519px 1904px #FFF, 943px 820px #FFF, 936px 107px #FFF, 1764px 1819px #FFF, 1302px 296px #FFF, 1402px 947px #FFF, 897px 970px #FFF, 1109px 1962px #FFF, 1997px 1318px #FFF;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}


/* section posts */

.section__posts {
    max-width: 900px;
    margin: 0 auto;
    padding: 10rem 2rem;
}

.blog-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.blog-title {
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: -6px;
}

.blog-overview {
    margin: 10px 0 20px;
    line-height: 30px;
}

.section__posts--card {
    margin-bottom: 10rem;
    padding: 4rem;
    background: var(--clr-light);
    border-radius: 8px;
    box-shadow: 0px 0px 0 1px rgba(32, 71, 84, 0.03), 0px 0px 0 3px rgba(32, 71, 84, 0.02);
}

.section__posts--card:last-child {
    margin-bottom: 0;
}

[data-scroll] {
    opacity: 0;
    will-change: transform, scale, opacity;
    transform: translateY(6rem) scale(0.93);
    transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

[data-scroll=in] {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.splitting .char {
    color: transparent;
}

.splitting .char:after {
    visibility: visible;
    color: #204754;
    opacity: 0;
    transform: translateY(30%);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: calc(.2s + (.04s * var(--char-index)));
}

.section__posts--card--button {
    margin: 0 10px;
}

.btn.dark {
    background: var(--clr-dark);
    color: var(--clr-light);
}

.btn.grey {
    background: var(--clr-grey);
    color: var(--clr-dark);
}

.btn.danger {
    background: var(--clr-danger);
    color: var(--clr-dark);
}


/* admin page */


/* banner section */

.banner {
    width: 100%;
    height: 400px;
    position: relative;
    background: #e7e7e7;
    background-size: cover;
    background-position: center;
}

.banner__upload--btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.banner__upload--btn img {
    width: 20px;
}


/* post editor */

.blog__editor {
    width: 70vw;
    min-width: 400px;
    height: 100px;
    display: block;
    margin: auto;
    padding: 50px 0;
}

textarea::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.blog__editor--title,
.blog__editor--article {
    width: 100%;
    min-height: 100px;
    height: auto;
    outline: none;
    font-size: 50px;
    font-weight: 600;
    color: #2d2d2d;
    resize: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.blog__editor--title::placeholder,
.blog__editor--article::placeholder {
    color: #2d2d2d;
}

.blog__editor--article {
    height: 500px;
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
    font-weight: 500;
    padding-bottom: 100px;
    white-space: pre-wrap;
}

.blog__editor--options {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* single post page */


/* content area */

.blog__published {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__published,
.blog__published--article {
    position: relative;
    height: fit-content;
    padding-bottom: 0;
}

.blog__published--article,
.blog__published--title {
    min-height: auto;
    height: fit-content;
    padding: 0 10px;
    white-space: normal;
}

.blog__published--date {
    margin: 20px 0 60px;
    padding: 0 10px;
    text-transform: capitalize;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
}

.blog__published--date span {
    font-weight: 700;
    font-style: normal;
}

.blog__published--article * {
    margin: 30px 0;
    color: #2d2d2d;
}

.blog__published--article--image {
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin: 30px auto;
    object-fit: contain;
}

.sub-heading {
    padding: 0 5vw;
    color: #2d2d2d;
    font-weight: 500;
    font-size: 40px;
    margin-top: 80px;
}


/* dashboard page */


/* login ui */

.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background: #fff;
}


/* dashboard section */

.dashboard__title {
    text-align: center;
    position: relative;
    margin: 100px 0 20px;
}

.dashboard__btn {
    display: block;
    width: 11em;
    margin: 0 auto;
}

#edit-blog-btn {
    display: none;
}